.text1{
    font-size: 14px;
    font-weight: 400;
}

.dim_txt{
    font-size: 14px;
    font-weight: 200;
}




    .main_heading{
        font-size: 20px;
    }


@media only screen and (min-width: 992px)  {  .main_heading{
    font-size: 25px;
}}